@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato');
html, body{
  margin: 0;
}
body {
  background-color: dodgerblue;
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 10px;
}
header {
  position: absolute;
  top: 25vh;
  z-index: -1;
  color: rgba(255,255,255,1);
  transition: color 2s ease-in-out;
  width: 100%;
}

h1 {
  font-size: 10em;
  text-align: center;
}

p {
  font-size: 2em;
  text-align: center;
  letter-spacing: 1px;
}

.fade {
  color: rgba(255, 255, 255, 0.3);
}
main {
  width: 100%;
  height: 100vh;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 85%;
  height: 90vh;
}

.key {
  display: inline-flex;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ffeb3b;
  margin: 20px;
  transition: transform 0.2s ease-in-out;
  transform: scale(0.0);
}

.isPlaying {
  transform: scale(3);
}