html {
  box-sizing: border-box;
  background: #FF5722;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.3px;
  font-size: 20px;
  font-weight: 200;
  font-weight: 400;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

.search-form {
  display: flex;
  justify-content: space-between;
  /* align-items: baseline; */
}


input.search {
  margin-left: 20px;
  margin-top: 20px;
  height: 40px;
  color: black;
  border-bottom: black 2px solid;
  background: transparent;
  font-family: inherit;
  font-size: 20px;
  text-transform: capitalize;
  position: fixed;
}

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
input:focus {
  outline: 0;
  border-color: white;
  color: white;
}
.suggestions {
  width: 65%;
  margin-top: 20px;
}
.suggestions li {
  list-style: none;
  margin:0;
  padding:10px;
  font-size: 24x;
  display:flex;
  justify-content: space-between;
  text-transform: capitalize;
  border-bottom: 1px solid #00000011;
}

span.name {
  width: 60%;
}
span.symbol {
  width: 10%;
  font-size: 12px;
  margin-right: auto;
}

span.population {
  font-size: 12px;
  margin-left: auto;
}

.population::before {
  content: '$';
  /* font-size: 10px; */
  padding-right: 2px;
}

.hl {
  border-bottom: 2px solid black;
} 
