
html {
      box-sizing: border-box;
      font-family: 'IBM Plex Serif', serif;
      font-size: 20px;
      font-weight: 200;
    }

    @keyframes appear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    body {
      margin: 0;
      display: flex;
      justify-content: center;
      height: 100vh;
      align-items: center;
    }

    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }

    .panels {
      min-height: 80vh;
      overflow: hidden;
      display: flex;
      width: 960px;
      opacity: 1;
    }
    
    .panel {
      background: #fff;
      box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
      color: black;
      text-align: center;
      align-items: center;
      /* Safari transitionend event.propertyName === flex */
      /* Chrome + FF transitionend event.propertyName === flex-grow */
      cursor: pointer;
      background 0.2s;
      background-size: cover;
      background-position: center;
      display: flex;
      flex: 1; 
      justify-content: center;
      flex-direction: column;
      border: 60px solid white;
      position: relative;
      transition: flex 1s ease-in-out, border 0.5s ease-in-out, transform 0.2s ease-in-out;
      
    }


    .panel1 {
      background-image: url(https://source.unsplash.com/1_EedIBc6jY);
    }

    .panel2 {
      background-image: url(https://source.unsplash.com/fYO1T495QCM);
    }

    .panel3 {
      background-image: url(https://source.unsplash.com/VLT62-JzddA);
    }

    .panel4 {
      background-image: url(https://source.unsplash.com/d3tv-6X_OX4);
    }

    .panel5 {
      background-image: url(https://source.unsplash.com/dI9KhXi0ooE);
    }

    .panel>* {
      margin: 0;
      width: 100%;
      transition: transform 0.5s;
      flex: 1 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .panel > *:first-child {
      transform: translateY(0);
    }
    .panel > *:last-child {
      transform: translateY(0);
    }
    .panel.open-active >*:first-child {
      transform: translateY(-120%);
    }
    .panel.open-active > *:last-child {
      transform: translateY(120%);
    }



    .panel p {
      font-size: 0.5em;
      background: #ffd106bd;
    }
    
    .panel p:nth-child(2) {
      opacity: 0;
      position: absolute;
      background:transparent;
      z-index: 1;
      font-size: 1.4em;
      transition: opacity 0.5s ease-in-out;
    }

    .panel:hover p:nth-child(2) {
      opacity: 1;
    }

    .panel.open p:nth-child(2){
      opacity: 1;
    }
    
    .panel:hover {
      transform: translateY(-20px);
    }

    .panel.open {
      font-size: 1.5em;
      flex: 10;
      border-width: 20px;
    }